[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "changepoints"]
	path = changepoints
	url = https://github.com/haotianxu/changepoints
